.navbar {
    background-color: rgb(255, 255, 255) !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color 1s ease-in-out !important;
    z-index: 9999;
}

.footer-area .footer-bottom {
    padding-top: 40px;
}
.footer-area .footer-bottom .footer-social a {
    background: #111111;
    margin: 2px;
    padding: 12px 16px;
    transition: all 0.3s ease 0s;
}
.footer-area .footer-bottom a {
    color: #f6214b;
}
.footer-area .footer-bottom .footer-social i {
    color: #cccccc;
    transition: all 0.3s ease 0s;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}
.fa-facebook:before {
    content: "\f09a";
}